@layer utilities {
/********************************************************************/
    /* container */
    .container, .container--menu {
        max-width: 1100px;
        margin: var(--space-8) var(--space-4);
    } 
    .container--narrow {
        max-width: 800px;
    }
/********************************************************************/
    /* layout */
    .grid {display: grid;}
    .grid-cols-1 { grid-template-columns: repeat(1, 1fr); }

    .flex {display: flex;}
    .flex-col{flex-direction: column;}
    .flex-row { flex-direction: row; }

    .block {display: block;}
    .inline-block {display: inline-block;}
    .full-block {width: 100%; height: 100%; display: block;}

    .justify-center { justify-content: center; }
    .justify-between { justify-content: space-between; } s
    .justify-end { justify-content: flex-end; }

    .items-start { align-items: flex-start; }
    .items-center { align-items: center; }

    .center { display: flex; justify-content: center; align-items: center;}

    .text-center { text-align: center; }
    .text-left { text-align: left; }
    .text-right { text-align: right; }

    .min-h-screen {min-height: 100vh;}
    .grow {flex-grow: 1;}

    .hidden { display: none;}
/********************************************************************/
    /* positioning */
    .relative { position: relative; }
    .absolute { position: absolute; }

/********************************************************************/
    /* gaps */
    .gap-4 { gap: var(--space-4); }
    .gap-5 { gap: var(--space-5); }
    .gap-6 { gap: var(--space-6); }
    .gap-7 { gap: var(--space-7); }
/********************************************************************/
    /* margin bottom*/
    .mb-3 { margin-bottom: var(--space-3); }
    .mb-4 { margin-bottom: var(--space-4); }
    .mb-5 { margin-bottom: var(--space-5); }
    .mb-6 { margin-bottom: var(--space-6); }
    .mb-7 { margin-bottom: var(--space-7); }
    /* margin top*/
    .mt-auto { margin-top: auto; }
    .mt-0 { margin-top: 0; }
    .mt-3 { margin-top: var(--space-3); }
    .mt-7 { margin-top: var(--space-7); }
    /* margin horizontal*/
    .ml-auto { margin-left: auto; }
    .mx-auto { margin-left: auto; margin-right: auto; }
    .mx-5 {margin-left: var(--space-5);margin-right: var(--space-5);}
/********************************************************************/
    /* padding */
    .p-4 { padding: var(--space-4); }
    .p-5 { padding: var(--space-5); }
    .p-6 { padding: var(--space-6); }
    .p-8 { padding: var(--space-8); }
    /* padding horizontal (vlevo + vpravo) */
    .px-7 { padding-left: var(--space-7); padding-right: var(--space-7); }
    /* padding vertical (nahore + dole)*/
    .py-4 { padding-top: var(--space-4); padding-bottom: var(--space-4); }
/********************************************************************/
    /* sizing */
    .w-full { width: 100%; }
    .h-full { height: 100%; }
    .h-auto { height: auto;}
/********************************************************************/
    .list-none {list-style: none;}
    .bg-primary {background-color: var(--color-bg);}
    .bg-secondary {background-color: var(--color-secondary);}
    .pointer {cursor: pointer;}
}